  
  #signin-box {
    margin-top: 5rem;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
  }
  
  #password-field {
    margin-top: 1re;
    margin-bottom: 1rem;
  }
  
.main-navbar {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    text-align: center;

  }
  #post-create-box {
    display: grid;
    grid-template-columns: 33% 34% 33%;
  }
  
  #navbar {
    text-align: center;
  }

  #create-post-btn {
    margin-left: 15%;
    margin-right: 5%;
  }

 

#post-title {
    margin-left: 5%;
  }
  
  #img-link {
    margin-left: 10%;
  }
 
.gridbox{
  display: grid;
  grid-template-columns: 10rem auto;
}

.pname{
  margin-top: 35px;
}

.ms{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  object-fit: cover;
  object-position: top;
  margin-left: 10px;
  margin-top: 10px;
}


.mbox{
  margin-left: 20%;
  margin-right: 20%;
}

.cap{
  margin-top: 10px;
}

.poimg{
  width: 90%;
  height: 50%;
  object-fit: cover;
  object-position: top;
  margin-top: 10px;
}
.like{
  margin-top: 5px;
}
.rep{
  margin-top: 15px;
  margin-bottom: 15px;
}

.un{
  margin-left: 10px;
}
